body{
  color:#Fff;
}
.headingauth{
  text-align: center;
  margin:1rem;
  font-size:5rem;
  filter:blur(1px);
}
.form-container {
  margin:12rem auto;
  width:90%;
  color:rgb(255, 255, 255);
  text-align: center;
  font-family: "Montserrat Alternates", sans-serif;
}
.forminfo{
  text-align: center;
}
.enterinfo{
  width:90%;
  color:#000000;
  padding:5px;
  font-size:15px;
  margin-top:1rem;
  background-color:rgba(161, 161, 161, 0.774);
  border-radius:0.3rem;
}
.google-btn {
  margin-top: 15px;
  padding: 5px;
  width: 90%;
  background-color:rgb(156, 112, 0); 
  color: rgb(0, 0, 0);
  border-radius:1rem;
  font-size: 16px;
  cursor: pointer;
}